body {
  margin: 0;
  background-size: 100vw 100vh;
  background-image: url('images/kiranMam.JPG');
  opacity: 0.8;
  background-repeat: no-repeat;
  cursor: crosshair;
  animation: image ease-in 5s infinite;
}

@keyframes image{
  0%{
    background-image: url('images/kiranMam.JPG');
  }
  50%{
    background-image: url('images/kiranMam1.JPG');
  }
}
canvas{display:block}
h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Edwardian Script ITC";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
