body {
  margin: 0;
  background-image: url('images/mamtaMam.jpg');
  background-size: 100% 100%;
  opacity: 0.8;
  background-repeat: no-repeat;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Edwardian Script ITC";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
